html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

/* Target iOS devices */
@media screen and (-webkit-min-device-pixel-ratio: 0) {
  /* Disable pinch zooming */
  html, body {
    touch-action: manipulation;
    -ms-touch-action: manipulation;
  }
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
